.header{
    display: flex;
    height: 70px;
    width: 100%;
    top: 0px;
    left: 0px;
    background: #FFFFFF;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25);
    align-items: center;
    
}
.header p{
    margin-bottom: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}