@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
body{
  font-family: Montserrat;
}
h2{
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #323232;
}
#container{
  max-width: 1170px;
}
.grid{
  position: relative;
  bottom: 105px;
}
.grid p{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
}
.gallaryTitle{
  margin: 40px 0 24px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #323232;
}
.slick-track{
  height: 0;
}
.slick-slider img{
  border-radius: 5px;
}
.slick-slide{
  margin-right: 20px;
  width: 364px;
  height: 243px;
  background: #C9C9C9;
  text-align: center;
  border-radius: 5px;

}
.slick-arrow{
  position: absolute;
  width: 32px;
  height: 32px;
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 25px;
  z-index: 999;
}
.slick-arrow:hover path{
  fill: #479C3F;
}
.slick-dots li button:before{
  content: ''
}
.slick-dots li button{
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  bottom: 210px;
  background: #C9C9C9;
}
li.slick-active button{
  background: linear-gradient(91.83deg, #93E08C -1.93%, #78CEBF 97.03%);
}
#checkboxText{
  display: inline-block;
  margin-left: 18px;
}
.submitBtn{
  width: 250px;
  background: linear-gradient(98.3deg, #93E08C -1.93%, #78CEBF 97.03%);
  border-radius: 3px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #323232;
  padding: 12px 24px
}
.form-row input{
  height: 48px
}
.formTitle{
  margin-bottom: 24px;
}
#checkboxText{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
}
#checkboxText a{
  color:#479C3F;
}
#checkbox{
  height: 15px
}
textarea.form-control{
  height: 144px
}
